body {
  font-family: "Roboto", sans-serif;
}

/*Barra de navegação */
nav ul li img{
  display: flex;
  float: right;
  position: relative;
  width: 4vmax;
  top: -7vmax;
  right: 6vmax;
  margin: 10px;
  cursor: pointer;
  transition: 350ms ease all;
}

nav ul li img:hover {
  transform:scale(1.2);
}

nav {
  width: 100%;
  height: 8vmax;
  position: fixed;
  transition: 250ms ease-out;
  z-index: 5;
}

nav #logo-home {
  width: 10%;
  position: relative;
  left: 50%;
  transform: translate(-50%, -1%);
  cursor: pointer;
}

.cor-menu {
  background-color: rgb(0, 99, 92, 0.8);
  transition: 250ms ease-in;
}

.easter-egg {
  display: flex;
  position: fixed;
  top: 2%;
  right: 5.45%;
  font-size: 1em;
  color: #fff;
  opacity: 0;
  z-index: 6;
  transition: 350ms ease;
}

.easter-egg p {
  padding: 10px;
}

.easter-egg:hover {
  opacity: 1;
  transition: 350ms ease;
}

/*Fim da barra*/

/*Vídeo*/
.back {
  width: 100%;
}

.back p {
  font-size: 100px;
  text-align: center;
}

/*Fim do vídeo*/

.separador {
  border-top: 5px solid #c1cfda;
}

/*Slides*/
.slides {
  position: relative;
  width: 100%;
}

.slick-center {
  position: relative;
  transition: 450ms ease-in;
}

.slick-now {
  background-image: url(/img/fundo.png);
  filter: drop-shadow(5px 5px 5px);
  background-size: 90%;
  background-repeat: no-repeat;
  cursor: pointer;
  transform: scale(1.07);
}

.prevSlide,
.nextSlide {
  opacity: 50%;
  transition: 750ms ease-out;
}

#arrow-prev {
  width: 5%;
  margin: 10% 0 0 0;
  position: absolute;
  z-index: 1;
  cursor: pointer;
  transform: rotate(180deg);
  opacity: 60%;
  transition: 450ms ease-in;
}

#arrow-next {
  width: 5%;
  margin: 10% 0 0 0;
  position: absolute;
  right: 0%;
  z-index: 1;
  cursor: pointer;
  opacity: 60%;
  transition: 450ms;
}

#arrow-prev:hover {
  opacity: 100%;
  width: 6%;
  transition: 450ms ease-out;
}

#arrow-next:hover {
  opacity: 100%;
  width: 6%;
  transition: 450ms ease-out;
}

/*Fim dos slides*/

/*Banner vegano*/
.container {
  position: relative;
}

#image {
  position: absolute;
  width: 100%;
}

#texto {
  position: absolute;
  font-size: 5vw;
  color: #fff;
  background-color: #00635c;
  padding: 1vmax;
  border-radius: 10px;
  left: 67%;
  bottom: -46vmax;
  transition: 500ms all;
  cursor: pointer;
}

#texto:hover {
  font-size: 5.5vw;
  transition: 500ms all;
  background-color: #00aeef;
}

/*Fim do banner vegano*/

.gluten p {
  font-size: 8vw;
  text-align: center;
  top: 58vmax;
  position: relative;
}

article {
  display: flex;
  position: absolute;
  top: 148vmax;
}

article img {
  width: 30%;
  padding: 1em;
  display: block;
  margin: 0 auto;
  background-color: #e8e9eb;
  border-radius: 30px;
  transition: 450ms ease-in;
  cursor: pointer;
}

article img:hover {
  box-shadow: 5px 2px 5px 1px rgba(0, 0, 0, 0.5);
  transition: 450ms ease;
}

.teste {
  position: relative;
  font-size: 2em;
  background-image: url("/img/fundo-semtexto.png");
  background-size: cover;
}

footer {
    position: absolute;
    width: 100%;
    top: 180vmax;
    height: 10vmax;
    background-color: #333333;
}

footer img {
    display: block;
    margin: 0 auto;
    width: 9%;
}

/* Página zero lactos! */

.imagem {
  width: 100%;
}

.produtos-piracanjuba {
  display: flex;
  left: 50%;
  transform: translate(2%,0%);
}

.produtos-piracanjuba img{  
  width: 30%;
  background-color: #e8e9eb;
  border-radius: 100%;
  margin: 10px;
  transition: 350ms ease all;
  opacity: 80%;
}

.produtos-piracanjuba img:hover {
  transform: scale(1.2);
  opacity: 100%;
}
